:root {
    --clr-primary-interactive: hsl(172, 67%, 45%);

    /* --- Neutral Colors --- */
    --clr-results-bg: hsl(183, 100%, 15%);
    --clr-input-text: hsl(186, 14%, 43%);
    --clr-input-bg: hsl(184, 14%, 56%);
    --clr-input-subtle: hsl(189, 47%, 97%);
    --clr-main-bg: hsl(185, 41%, 84%);
    --clr-calculator-bg: hsl(0, 100%, 100%);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

::selection {
    background-color: var(--clr-results-bg);
    color: var(--clr-calculator-bg);
}

body {
    inline-size: 100%;
    block-size: 100vb;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-main-bg);
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    background-position: center 20%;
}

.calculator-container {
    inline-size: fit-content;
    padding: 2rem;
    background-color: var(--clr-calculator-bg);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
}

.data-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    .input-general-container {
        inline-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        label {
            color: var(--clr-input-text);
        }

        .input-container {
            inline-size: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--clr-input-subtle);
            color: var(--clr-input-text);
            padding: .5rem;
            border-radius: 5px;

            img {
                inline-size: 10px;
            }

            .input-field {
                inline-size: 100%;
                text-align: end;
                background-color: inherit;
                border: none;
                outline: none;
                font-size: 24px;
                color: var(--clr-results-bg);


            }
        }
    }

    .buttons-general-container {
        margin-block-start: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;

        .buttons-label {
            color: var(--clr-input-text);
        }

        .buttons-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: .8rem;
        }

        .tip-selector {
            padding: 1rem .5rem;
            border-radius: 5px;
            border: none;
            background-color: var(--clr-results-bg);
            color: var(--clr-calculator-bg);
            font-size: 24px;

        }

        .custom-tip-selector {
            min-inline-size: 0;
            padding: 1rem .5rem;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: var(--clr-input-subtle);
            color: var(--clr-input-text);
            font-size: 24px;
        }
    }

}

.results-section {
    background-color: var(--clr-results-bg);
    color: var(--clr-calculator-bg);
    padding: 1.5rem 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
    flex: 1;


    .amount-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 6rem;

        .info-container {
            display: flex;
            flex-direction: column;

            .per-person {
                font-size: .8rem;
                color: var(--clr-input-bg);
            }
        }
    }

    .reset-button {
        margin-block-start: auto;
        inline-size: 100%;
        background-color: var(--clr-primary-interactive);
        border: none;
        border-radius: 5px;
        padding: .5rem 2.5rem;
    }
}