:root {
    --clr-bg: light-dark(#f4f6fa, #313e51);
    --clr-accent: #A729F5;
    --clr-accent-disabled: #C999F5;
    --clr-option: light-dark(#ffffff, #626c7f);
    --clr-right-answer: #2fd887;
    --clr-wrong-answer: #ee5454;
    --clr-index-bg: #f4f6fa;

    /*text colors*/
    --clr-txt: light-dark(#313E51, #ffffff);
    --clr-sub-txt: light-dark(#626c7f, #abc1e1);
}

* {
    box-sizing: border-box;
    margin: 0;
    font: 400 16px "Rubik";
    color: var(--clr-txt);
}

body {
    background-color: var(--clr-bg);
    inline-size: 100%;
    block-size: 100vb;
    padding-inline: 1.5rem;
    padding-block-start: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: light-dark(url("./assets/images/pattern-background-mobile-light.svg"), url("./assets/images/pattern-background-mobile-dark.svg"));
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    inline-size: 100%;
    align-self: flex-end;

    .theme-chooser {
        inline-size: fit-content;
        appearance: none;
        margin-inline-start: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

main {

    inline-size: 100%;
    block-size: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    .title-section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


    }

    h1 {
        font-size: 2.5rem;

        .bold-title {
            font-size: inherit;
            font-weight: 600;
        }
    }

    .sub-text {
        color: var(--clr-sub-txt);
        font-style: italic;
    }

    .options-section {
        inline-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
}

.option-selector {
    inline-size: 100%;
    background-color: var(--clr-option);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 12px;
}

.option-selector:active, .option-selector:hover, .option-selector:focus {
    border: var(--clr-accent) solid 2px;

    .answer-index-container {
        background-color: var(--clr-accent);

        .answer-index {
            color: var(--clr-index-bg);

        }
    }
}


.option-image {
    inline-size: 28.7px;
    padding: .5rem;
    border-radius: 6px;
}

.html-icon {
    background-color: #fff5ed;
}

.css-icon {
    background-color: #e0fdef;
}

.js-icon {
    background-color: #ebf0ff;
}

.accessibility-icon {
    background-color: #f6e7ff;
}




.answer {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.submit-button {
    color: var(--clr-option);
    inline-size: 100%;
    border-radius: .8rem;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.submit-button[data-status="active"], .submit-button[id="play-again"] {
    background-color: var(--clr-accent);

}

.submit-button[data-status="disabled"] {
    background-color: var(--clr-accent-disabled);

}

.category-header {
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .category-card {
        inline-size: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 12px;

    }
}

.right-answer-style {
    border: var(--clr-right-answer) solid 5px;

    .answer-index-container {
        background-color: var(--clr-right-answer);

        .answer-index {
            color: var(--clr-index-bg);

        }
    }
}

.wrong-answer-style {
    border: var(--clr-wrong-answer) solid 5px;

    .answer-index-container {
        background-color: var(--clr-wrong-answer);

        .answer-index {
            color: var(--clr-index-bg);

        }
    }
}