:root {

    /* Grey Palette */
    --clr-bg: #05070B;
    --clr-grey-900: #14171B;
    --clr-range: #18171F;
    --clr-card: #24272C;
    --clr-password: #54555B;
    --clr-secondary-txt: #817C92;
    --clr-txt: #E6E5EA;

    /* Accent colors */
    --clr-primary: #A6FFAF;
    --clr-low-strenght: #F5CD65;
    --clr-medium-strenght: #F97C58;
    --clr-hight-strenght: #F64A4A;

    /* Gradients */
    --gradient-1: linear-gradient(180deg, #14171B 0%, #05070B 100%);

}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--clr-txt);
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
}

body {
    background-color: var(--clr-bg);
    padding-inline: 1rem;
    inline-size: 100%;
    block-size: 100vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

button {
    outline: none;
    border: none;
    background-color: inherit;
}

.title {
    font-size: 1rem;
    color: var(--clr-secondary-txt);
    text-align: center;
}

.text {
    font-size: 1.2rem;
    color: var(--clr-txt);
    line-height: 1.2rem;

}

.password-container {
    background-color: var(--clr-card);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .password {
        outline: none;
        background-color: inherit;
        border: none;
        inline-size: 100%;
        font-size: 1.5rem;
        text-overflow: clip;
        color: var(--clr-password);
    }
}

.properties-section {
    background-color: var(--clr-card);
    inline-size: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.range-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5rem;

    .length-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .psw-length {
        color: var(--clr-primary);
        font-size: 1.5rem;
    }


    .range {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
    }

    .range::-webkit-slider-runnable-track {
        height: 8px;
        outline: none
    }

    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        inline-size: 28px;
        block-size: 28px;
        background-color: var(--clr-txt);
        margin-block-start: -10px;
        cursor: pointer;
    }



    .range::-moz-range-track {
        height: 8px;
        background: var(--clr-range);
    }

    .range::-moz-range-progress {
        height: 8px;
        background: var(--clr-primary);
    }

    .range::-moz-range-thumb {
        inline-size: 28px;
        block-size: 28px;
        border-radius: 50%;
        background: var(--clr-txt);
        border: none;
        cursor: pointer;
    }


}

.checkboxes-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5rem;

    .checkbox-container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;

        .checkbox {
            appearance: none;
            border: var(--clr-txt) solid 2px;
            inline-size: 1.2rem;
            block-size: 1.2rem;
        }

        .checkbox:checked {
            background-color: var(--clr-primary);
            background-image: url(./assets/images/icon-check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        .checkbox:focus, .checkbox:active, .checkbox:hover {
            border: var(--clr-primary) solid 2px;
        }
    }
}

.strenght-result-container {
    background-color: var(--clr-bg);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .strenght-title {
        color: var(--clr-secondary-txt);
    }

    .result-container {
        line-height: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .indicators-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;

            .strenght-indicator {
                inline-size: 10px;
                block-size: 28px;
                border: var(--clr-txt) solid 2px;
            }
        }
    }
}

.generator-container {
    inline-size: 100%;
    padding: 1rem;
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .generate-button {
        color: var(--clr-bg);
        background-color: inherit;
        font-size: 1rem;
    }
}

.error-container {
    padding: 1rem;
    background-color: var(--clr-hight-strenght);
}

.copy-message {
    color: var(--clr-primary);
    background-color: inherit;

}

@media screen and (width>720px) {
    body {
        align-items: center;
    }

    main {
        align-items: center;
    }

    .password-container {
        inline-size: 100%;
    }
}