* {
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    max-width: 100%;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
    background-color: white;
    width: 384px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0 0 black;
}

.container>img {
    border-radius: 10px;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;


}

.contents>a {
    text-decoration: none;
    color: black;
}

.contents>a:hover, .contents>a:active, .contents>a:focus-visible {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.badge {
    background-color: hsl(47, 88%, 63%);
    width: min-content;
    padding: 4px 12px;
    border-radius: 4px;
}

.title {
    font-weight: 800;
    font-size: 1.5rem;
}



.text {
    color: hsl(0, 0%, 42%);
}

.author {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;


}

.author-avatar {
    width: 32px;
    height: 32px;
}

.author-name {
    font-weight: 800;
}




.attribution {

    text-align: center;
    margin-top: 16px;
    font-size: 0.875rem;

}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: inherit;

}

@media screen and (max-width: 479px) {


    .container {
        width: 327px;
    }

    .container>img {
        width: 287px;
        height: auto;
    }


    .badge {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .text {
        font-size: 14px
    }

    .author-name {
        font-size: 14px;
    }

    .attribution {
        font-size: 12px;
    }

}